body {
  font-family: 'Righteous', cursive;
  font-size: 30px;
  color: white;
  background-color: #2b2b2b;
}

p {
  font-size: 15px;
}

::selection {
  background: #f7a33d;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
  text-align: center;
  height: calc(100vh - 10px);
}

.content div {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 25px;
}

.content #the_header {
  grid-column: span 4;
  font-size: 40px;
}

.content #the_shop {
  grid-column: span 3;
  grid-row: span 5;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 3;
  overflow-y: scroll;
  height: calc(100vh - 10px);
}

.content #the_description {
  font-size: 17px;
}

.content .border {
  transition: 0.3s ease;
  background-color: rgba(43, 43, 43, .5);
  border-radius: 25px;
  align-self: center;
}

.content .border p {
  font-size: 17px;;
}

.content .border img {
  border: solid 2px white;
  border-radius: 25px;
}

.content .border:hover {
  transition: 0.3s ease;
  background-color: black;
}

.content .border button {
  transition: 0.3s ease;
  border-radius: 8px;
  border: 2px solid #f7a33d;
  background-color: Transparent;
  color: white;
  font-size: 20px;
  font-family: 'Righteous', cursive;
  padding: 10px;
  text-align: center;
}

.content .border .bluebutton {
  font-size: 15px;
  margin-top: 10px;
  border: 2px solid #30dcff;
}

.content .border .bluebutton:hover {
  transition: 0.3s ease;
  background-color: #30dcff
}

.content .border button:hover{
  transition: 0.3s ease;
  background-color: #f7a33d
}

.hide {
   display: none;
}
